@import "../vars.scss";
.notes-list {
  min-width: 15vw;
  border-right: $border;
  height: 100%;
  overflow: scroll;
  max-height: 90vh;
}
.no-notes {
  padding: 10px;
  margin: 13px 0 0 8px;
}
.notes-search {
  height: 40px;
  border-bottom: 1px dotted $grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0 10px;
}
.notes-search input {
  width: 100%;
  height: 100%;
  border: none;
  color: #999;
  background: transparent;
  &:focus {
    outline: none;
  }
}
