@import "../vars.scss";

input.note-title {
  width: 97%;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 25px;
  margin: 13px 14px;
  &:focus {
    outline: none;
  }
  @media screen and (max-width: $break-small) {
    font-size: 15px;
  }
}

.note-editor-group {
  width: 100%;
}

.save-button {
  background-color: $blue;
  width: 40px;
  display: flex;
  border-radius: 50%;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: background-color 0.3s linear;
  img {
    width: 20px;
  }
}

.button-disabled {
  cursor: not-allowed;
  opacity: 0.4;
  background-color: $grey;
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Georgia", serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  .public-DraftEditorPlaceholder-root {
    margin: 0 -15px -15px;
    padding: 15px;
  }
  .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
    min-height: 100px;
  }
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor {
  .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: "Hoefler Text", "Georgia", serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: "Inconsolata", "Menlo", "Consolas", monospace;
    font-size: 16px;
    padding: 20px;
  }
}

.RichEditor-controls {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
  @media screen and (max-width: $break-small) {
    font-size: 9px;
    margin-right: 10px !important;
  }
}

.RichEditor-activeButton {
  color: #5890ff;
}
.RichEditor-root {
  border: none;
}
