@import "../vars.scss";

.voiceinput {
  background-color: $grey;
  width: 40px;
  display: flex;
  border-radius: 50%;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 60px;
  cursor: pointer;
  transition: background-color 0.3s linear;
  img {
    width: 30px;
  }
}

.button-cancel {
  background-color: $white;
  border: 2px solid $red;
  color: $red;
  font-weight: 900;
  width: 36px;
  display: flex;
  border-radius: 50%;
  height: 36px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 110px;
  cursor: pointer;
  transition: background-color 0.3s linear;
  img {
    width: 30px;
  }
}

.listening {
  animation: pulse 1s infinite;
  background-color: $green;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  59% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.vouce-output {
  display: flex;
  position: absolute;
  right: 165px;
  bottom: 21px;
  width: 70vw;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: nowrap;
  font-size: 14px;
  @media screen and (max-width: $break-small) {
    right: 12px;
    bottom: 65px;
    font-size: 12px;
    width: 53vw;
  }
}
